<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>

    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>

    <!-- Resources -->
    <script src="/static/amchart/amcharts.js"></script>
    <script src="/static/amchart/serial.js"></script>
    <script src="/static/amchart/amstock.js"></script>
    <script src="/static/amchart/plugins/export/export.min.js"></script>
    <script src="/static/amchart/themes/light.js"></script>
    <link rel="stylesheet" href="/static/amchart/plugins/export/export.css" type="text/css" media="all"/>

    <!-- script -->
    <script src="/static/view/stock/chart.js"></script>


</head>
<body>
{#<h1>{{ message }}</h1> inside head tag#}

<!-- HTML -->
<div id="chartdiv"></div>

</body>
</html>